body{
margin:0;
padding:0;
font-family:'Times New Roman', Times, serif;
background-attachment:fixed;
}

.container{
width:80%;
margin:30px auto;
background:rgba(255,255,255,0.95);
padding:25px;
border-radius:15px;

}

h1{
text-align:center;
color:#000204;
margin-bottom:30px;

}

.audio{
background:#f7f9fc;
border-left:8px solid #010508;
border-radius:10px;
padding:20px;
margin-bottom:25px;
box-shadow:0 3px 8px rgba(0,0,0,0.15);
}

.audio h2{
color:#020e1a;
margin-bottom:5px;
}

.autor{
color:#555;
font-family: 'Times New Roman', Times, serif;
margin-bottom:15px;
}

audio{
width:100%;
margin:10px 0 15px;
}

.audio p{
text-align:justify;
line-height:1.6;
}
video{
width:100%;
margin:10px 0 15px;
border-radius:8px;
border:1px solid #131111;
}