.head{
    text-align: center;
    background-color: aqua;
}
.num{
    color: #f5f1f1;
    background-color: black;
}
table,th,td{
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}